In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_excel("C:/Users/Falguni Jain/Downloads/customer_feedback.xlsx")

In [4]:
print(df)

   Customer_ID                                           Feedback  Rating  \
0          101                 Great service, I am very satisfied       5
1          102  The delivery was late and the package was damaged       2
2          103               Good quality but slightly overpriced       4
3          104                     Customer support was excellent       5
4          105   Not happy with the product, very poor experience       1
5          106  Decent, but could be better in terms of packaging       3
6          107               Absolutely love it! Highly recommend       5
7          108                Average experience, nothing special       3
8          109                  Very bad, will not purchase again       1
9          110             Fast delivery and good value for money       4

   NPS_Score
0         10
1          4
2          7
3          9
4          2
5          6
6         10
7          7
8          3
9          9

In [5]:
df.head()

,Customer_ID,Feedback,Rating,NPS_Score
0,101,"Great service, I am very satisfied",5,10
1,102,The delivery was late and the package was damaged,2,4
2,103,Good quality but slightly overpriced,4,7
3,104,Customer support was excellent,5,9
4,105,"Not happy with the product, very poor experience",1,2

In [6]:
df.shape

(10, 4)

In [7]:
df.describe()

       Customer_ID     Rating  NPS_Score
count     10.00000  10.000000  10.000000
mean     105.50000   3.300000   6.700000
std        3.02765   1.567021   2.907844
min      101.00000   1.000000   2.000000
25%      103.25000   2.250000   4.500000
50%      105.50000   3.500000   7.000000
75%      107.75000   4.750000   9.000000
max      110.00000   5.000000  10.000000

In [8]:
df.tail()

,Customer_ID,Feedback,Rating,NPS_Score
5,106,"Decent, but could be better in terms of packaging",3,6
6,107,Absolutely love it! Highly recommend,5,10
7,108,"Average experience, nothing special",3,7
8,109,"Very bad, will not purchase again",1,3
9,110,Fast delivery and good value for money,4,9

In [9]:
df.info

<bound method DataFrame.info of    Customer_ID                                           Feedback  Rating  \
0          101                 Great service, I am very satisfied       5
1          102  The delivery was late and the package was damaged       2
2          103               Good quality but slightly overpriced       4
3          104                     Customer support was excellent       5
4          105   Not happy with the product, very poor experience       1
5          106  Decent, but could be better in terms of packaging       3
6          107               Absolutely love it! Highly recommend       5
7          108                Average experience, nothing special       3
8          109                  Very bad, will not purchase again       1
9          110             Fast delivery and good value for money       4

   NPS_Score
0         10
1          4
2          7
3          9
4          2
5          6
6         10
7          7
8          3
9          9  >

In [13]:
pip install textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.

  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\falguni jain\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\falguni jain\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\falguni jain\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\falguni jain\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\falguni jain\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\falguni jain\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 3.9 MB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.19.0

In [14]:
from textblob import TextBlob

def get_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0.1:
        return "Positive"
    elif analysis.sentiment.polarity < -0.1:
        return "Negative"
    else:
        return "Neutral"

df["Sentiment"] = df["Feedback"].apply(get_sentiment)

In [15]:
print(df["Sentiment"])

0    Positive
1    Negative
2    Positive
3    Positive
4    Negative
5    Positive
6    Positive
7    Positive
8    Negative
9    Positive
Name: Sentiment, dtype: object

In [16]:
def categorize_nps(score):
    if score >= 9:
        return "Promoter"
    elif score >= 7:
        return "Passive"
    else:
        return "Detractor"

df["NPS_Category"] = df["NPS_Score"].apply(categorize_nps)

In [17]:
print(df["NPS_Category"])

0     Promoter
1    Detractor
2      Passive
3     Promoter
4    Detractor
5    Detractor
6     Promoter
7      Passive
8    Detractor
9     Promoter
Name: NPS_Category, dtype: object

In [18]:
promoters = (df["NPS_Category"] == "Promoter").sum()
detractors = (df["NPS_Category"] == "Detractor").sum()
total = len(df)